<%= form_for :link, url: link_path(@link), method: :put do |f| %>
<div class="field">
    <%= f.label :full_url %>
    <%= f.text_field :full_url, class: 'form-control', required: true %>
</div>
<div class="field">
    <%= f.label :vanity_string %>
    <%= f.text_field :vanity_string, class: 'form-control', required: true %>
</div>
<div class="row center">
    <div class="col-md-8 col-md-offset-2">
        <div class="field btn-manage">
            <%= f.radio_button :active, true, id: "true"%>
            <%= f.label :active, "Active", for: "true"%>
            <%= f.radio_button :active,  false, id: "false" %>
            <%= f.label :active, "Inactive", for: "false" %>
        </div>
        <%= f.submit "Update ", class: "btn btn-warning" %>
        <%= link_to "Delete ", link_path(@link), class: "btn btn-danger", method: :delete %>
    </div>
</div>
<h4><%= link_to 'Back', home_path, class: "fa fa-long-arrow-left" %></h4>
<% end %>
