<header class="intro">
  <div class="container" height="100%">
    <div class="row" style="margin-top:15%;">
      <div class="col-md-12 col-sm-12">
        <div class="flash">
          <%flash.each do |msg_type, msg|%>
          <% unless msg_type == "notice" %>
          <div class="alert alert-<%= msg_type %> alert-dismissible fade in" id="flash" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= msg %>
            <% end %>
            <% end %>
          </div>
        </div>
        <div class="text-center">
          <h2 class="welcome">Welcome to shotn</h2>
          <h4 class="simplify-text">Simplify your links!</h4>
        </div>
        <%= render partial: 'links/partials/shorten'%>
        <div class="row text-center">
          <div class="col-md-4 col-sm-4 col-md-offset-4">
            <span class="shortened-url">
              <% if flash[:notice] %>
              <%= link_to flash[:notice], flash[:notice], target: "_blank" %>
                <a href="" class="clip_button" data-clipboard-text=<%= flash[:notice] %>>Copy</a>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
